@model IEnumerable<Led.Models.Db.Owner>

@{
    ViewBag.Title = "Собственники";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Добавить собственника", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Количество экранов
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @* @Html.DisplayFor(modelItem => item.Name)*@
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </td>
        <td>@Html.ActionLink(linkText:item.LedDisplays.Count.ToString(), actionName: "Index",
           controllerName:"LedDisplay", routeValues: new { ownerId = item.Id }, htmlAttributes:null)
            </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
