@model Led.Models.LedDisplay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LedDisplay</h4>
    <hr />
    <div class="col-md-2">
        <img src="@Html.DisplayFor(model => model.Image.file_Name)" />
    </div>
    <dl class="col-md-10 dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.FullAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
