@{
    /**/

    ViewBag.Title = "Home Page";
}
<style>
</style>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <br />

@helper ViewElements(Led.Models.Element[] elements)
        {
            foreach (Led.Models.Element element in elements)
            {
                <fieldset>
                    <legend>
                        @element.Lable
                        <input type="number" name="@element.Name" id="@element.Name"
                               min="@element.GetMin()"
                               max="@element.GetMax()"
                               value="@element.Value"
                               onchange="document.getElementById('@element.Name-Range').value = this.value;" />
                    </legend>
                    <p>
                        <span id="@element.Name-Min">@element.GetMin()</span>
                        <input id="@element.Name-Range" type="range"
                               min="@element.GetMin()"
                               max="@element.GetMax()"
                               value="@element.Value"
                               onchange="document.getElementById('@element.Name').value = this.value;">
                        <span id="@element.Name-Max">@element.GetMax()</span>
                    </p>
                </fieldset>
            }
}



    @ViewElements(ViewBag.Elements)

    

    <br />
    <input type="submit" id="submit" value="Рассчитать" />
    <br />

    <fieldset>
        <legend>Итого:@ViewData["summ"]</legend>
        <p>
            Формула: <strong>@Html.Label("formula", ViewData["formula"]) </strong>
        </p>
    </fieldset>
    <hr />

}